<div>
    <h2>
        <span jhiTranslate="mylastpornApp.favoritos.home.title">Favoritos</span>
        <button class="btn btn-primary float-right create-favoritos" [routerLink]="['/', { outlets: { popup: ['favoritos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mylastpornApp.favoritos.home.createLabel">
            Create new Favoritos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mylastpornApp.favoritos.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="favoritos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idconteudo"><span jhiTranslate="mylastpornApp.favoritos.idconteudo">Idconteudo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datacriado"><span jhiTranslate="mylastpornApp.favoritos.datacriado">Datacriado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="mylastpornApp.favoritos.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="visibilidadeId"><span jhiTranslate="mylastpornApp.favoritos.visibilidade">Visibilidade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modulosNome"><span jhiTranslate="mylastpornApp.favoritos.modulos">Modulos</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let favoritos of favoritos ;trackBy: trackId">
                <td><a [routerLink]="['../favoritos', favoritos.id ]">{{favoritos.id}}</a></td>
                <td>{{favoritos.idconteudo}}</td>
                <td>{{favoritos.datacriado | date:'medium'}}</td>
                <td>
                    {{favoritos.userId}}
                </td>
                <td>
                    <div *ngIf="favoritos.visibilidadeId">
                        <a [routerLink]="['../visibilidade', favoritos.visibilidadeId  ]" >{{favoritos.visibilidadeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="favoritos.modulosId">
                        <a [routerLink]="['../modulos', favoritos.modulosId  ]" >{{favoritos.modulosNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../favoritos', favoritos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'favoritos/'+ favoritos.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'favoritos/'+ favoritos.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
